@model IEnumerable<MVC_Store.Models.ViewModels.Shop.CategoryVM>

<h3>Categories</h3>

@foreach (var item in Model)
{
    <a class="list-group-item list-group-item-action" href="/shop/category/@item.Slug.ToLower()">@item.Name</a>
}
